# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\esign-demo2\lambda\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
